/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* background-color: rgb(215, 213, 213); */
    /* color: beige; */
}

body {
    width: 100%;
    height: 100vh;
    background-color: rgb(26, 25, 25);
    /* font-family: 'poppins'; */
    display: flex;
    justify-content: center;
    align-items: center;
}

.header {
    position: relative;
    width: 90%;
    height: 90%;
    /* border: 1px solid white; */
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;

}

.menu-side {
    width: 20%;
    height: 90%;
    background-color: #111727;
}

.menu-side h1 {
    margin-left: 50px;
    margin-top: 20px;
    font-weight: 500;
    color: white;
}

.song-playlist h4 {
    margin-left: 50px;
    margin-top: 20px;
    cursor: pointer;
    color: #4c5262;
    transition: .2s linear;

}

.song-playlist h4:hover {
    color: white;
}

.song-player {
    width: 100%;
    height: 10%;
    background-color: rgb(52, 53, 53);
}

.song-store {
    width: 100%;
    height: 50vh;
    margin-top: 5vh;
    /* border: 1px solid white; */
    color: white;
    overflow: auto;
}

.song-store::-webkit-scrollbar {
    display: none;
}

.song-store li {
    list-style: none;
    display: flex;
    padding: 10px 0px 5px 30px;
    margin-bottom: 10px;
    color: #4c5262;
    cursor: pointer;
    transition: .3s linear;
    background-color: rgb(105, 105, 105, .1);
}

.song-store li:hover {
    background-color: rgb(105, 105, 105, .1);
    color: white;
    /* color: rgb(135, 237, 237); */
}

.song-store li span {
    font-size: 12px;
    font-weight: 600;
    color: #a0aac5;
    margin-top: 10px;
}

.song-store li img {
    width: 32px;
    height: 32px;
    margin-left: 20px;
    border-radius: 5px;
}

.song-store li h5 {
    width: 100px;
    margin-left: 9px;
    overflow: hidden;
    text-overflow: ellipsis;

}

.song-store li .bi {
    margin-top: 10px;
    margin-right: 20px
}

.master-play {
    width: 100%;
    margin-top: -25px;
    display: flex;
    background-color: #0d192b;
    ;
}

.master-play .wave {
    width: 30px;
    height: 30px;
    padding-bottom: 5px;
    display: flex;
    align-items: flex-end;
    margin-left: 20px;
    margin-top: 20px;

    /* background-color: rgb(63, 63, 68); */
}

.wave .wave1 {
    width: 3px;
    height: 12px;
    background: aqua;
    margin-right: 3px;
    border-radius: 2px;
    animation: unset;
}

.wave .wave1:nth-child(2) {
    height: 15px;
    animation-delay: .5s;

}

.wave .wave1:nth-child(3) {
    height: 10px;
    animation-delay: .4s;

}

/* javascript classes */

.active1 .wave1 {
    animation: wave .3s linear infinite;

}

.active1 .wave1:nth-child(2) {

    animation-delay: .5s;

}

.active1 .wave1:nth-child(3) {

    animation-delay: .5s;

}

@keyframes wave {
    0% {
        height: 20px;
    }

    50% {
        height: 10px;
    }

    100% {
        height: 12px;
    }
}

.master-play img {
    width: 32px;
    height: 32px;
    margin-left: 2px;
    margin-top: 20px;
}

.master-play h5 {
    width: 135px;
    color: white;
    margin-left: 10px;
    margin-top: 20px;
}

.master-play .subtitle {
    color: #4c5262;
}

.icon {
    color: white;
    font-size: 20px;
    padding-top: 10px;
    margin-top: 20px;
    display: flex;
}

.icon .icon1 {
    margin-right: 10px;

}

.icon .icon-last {
    margin-left: 10px;

}

#currenttimer {
    color: white;
    font-size: 20px;
    margin-left: 20px;
    margin-top: 30px;
}


.bar {
    position: relative;
    width: 43%;
    height: 2px;
    background: rgb(105, 105, 170, .1);
    margin: 40px 0px 0px 20px;

}

.bar .bar2 {
    position: absolute;
    background: aqua;
    width: 0;
    height: 100%;
    top: 0%;
    transition: 1s linear;
}

.dot {
    position: absolute;
    background-color: aqua;
    width: 5px;
    height: 5px;
    border-radius: 50%;
    left: 0%;
    top: -1.5px;
    transition: 1s linear;



}

.dot::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border: 1px solid aqua;
    border-radius: 50%;
    left: -5.8px;
    top: -5.3px;
    box-shadow: inset 0px 0px 3px aqua;


}


.bar input {
    position: absolute;
    width: 100%;
    height: 4vh;
    top: -4px;
    left: 0;
    cursor: pointer;
    z-index: 999999999999999999;
    opacity: 0;
}

#endtimer {
    color: white;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 30px;
}

.vol {
    position: relative;
    width: 100px;
    height: 2px;
    margin-left: 40px;
    margin-top: 40px;


}

.vol .bi {
    position: absolute;
    color: white;
    font-size: 25px;
    top: -13px;
    left: -30px;
}

#vol-range {
    position: absolute;
    width: 100px;
    height: 4vh;
    top: -6px;
    left: 0;
    cursor: pointer;
    z-index: 9999999999999999;
    opacity: 0;

}

.vol-bar2 {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: aqua;
    top: 0;
    transition: 1s linear;

}

.vol-dot {
    position: absolute;
    left: 100%;
    top: -1.7px;
    width: 7px;
    height: 7px;
    border-radius: 50%;
    transition: 1s linear;
    background-color: aqua;

}

.vol-dot::before {
    position: absolute;
    content: "";
    width: 13px;
    height: 13px;
    border: 1px solid aqua;
    border-radius: 50%;
    left: -4px;
    top: -4px;
    box-shadow: inset 0px 0px 3px aqua;


}


.song-side {
    width: 80%;
    height: 90%;
    background-color: #0b1320;
    z-index: 2;
}

.song-side::before {
    content: '';
    position: absolute;
    width: 40vw;
    height: 40vh;
    left: 53vw;
    top: -5vh;
    background: url(white.png);
    background-size: contain;
    background-repeat: no-repeat;
    z-index: -1;

}

.song-side nav {
    width: 90%;
    height: 10%;
    display: flex;
    margin: auto;
    align-items: center;
    color: #4c5262;
}

.song-side nav ul {
    display: flex;


}

.song-side nav ul li {
    position: relative;
    margin-right: 25px;
    list-style: none;
    font-size: 20px;
    transition: .3s liniar;

}

.song-side nav ul li:nth-child(1) {
    color: white;
}

.song-side nav ul li:hover {
    color: white;

}

nav .search {
    position: relative;
    width: 40%;
    padding: 1px 10px;
    border-radius: 20px;
    border: 1px solid white;
    backdrop-filter: blur(10px);
}

nav .search::before {
    content: '';
    position: relative;
    width: 100%;
    height: 100%;
    background-color: rgb(184, 184, 184, .1);
    border-radius: 20px;
    z-index: -1;
    backdrop-filter: blur(5px);

}

.search input {
    background: none;
    border: none;
    outline: none;
    font-size: 12px;
    color: white;
    padding: 0px 10px;

}

.content {
    width: 90%;
    height: 30%;
    margin: auto;
    padding-top: 20px;
    color: white;
}

.content h1 {
    margin-left: 10px;
    margin-top: 20px;
}

.content p {
    font-size: 17px;
    font-weight: 400px;
    color: #c7d5fa;
    margin: 10px;
    margin-top: 10px;
}

.content p:hover {
    color: white;
}

.popular-song {
    width: 90%;
    height: auto;
    margin: auto;
    margin-top: 25px;
    color: white;

}

.popular-song h3 {
    margin-left: 27vw;
}

.popular-song .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 10px;
    font-size: 20px;

}

.btns.bi {
    /* margin-top: 20px; */
    cursor: pointer;
    color: #4c5262;

}

.popular-song .bi:hover {
    color: white;
}

.popular-song .pop-song {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 150px;
    /* border: 1px solid white; */
    overflow: auto;
    scroll-behavior: smooth;
}

.popular-song .pop-song::-webkit-scrollbar {
    display: none;
}

.pop-song li {
    min-width: 100px;
    height: 140px;
    list-style-type: none;
    margin-left: 10px;
    transition: .3s linear;
}

.pop-song li:hover {
    background: rgba(137, 137, 238, 0.1);
    /* background: red; */
}

.pop-song .img-play {
    position: relative;
    width: 100px;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 10px; */
}

.img-play img {
    width: 90%;
    height: 90%;
    border-radius: 10px;
}

.img-play .bi {
    position: absolute;
    font-size: 20px;
    cursor: pointer;
    color: #4c5262;
    transition: .3s linear;
    opacity: 0;
}

.img-play .bi:hover {
    opacity: 1;
}

.songitem h5 {
    margin-left: 14px;
    font-size: 15px;

}

.songitem .subtitle {
    font-size: 12px;
    color: #4c5262;
}

.popular-artist {
    width: 90%;
    height: auto;
    margin: auto;
    /* border: solid white 1px; */
    margin-top: 10px;
    color: white;
}

.popular-artist .h4 {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.popular-artist h3 {
    margin-left: 27vw;
}

.popular-artist .item {
    display: flex;
    margin-top: 10px;
    width: 100%;
    height: 150%;
    /* border: 1px solid white; */
    overflow: auto;
    scroll-behavior: smooth;
}

.popular-artist .item::-webkit-scrollbar {
    display: none;
}


.popular-artist .item li {
    /* position: relative; */
    margin-right: 10px;
    min-width: 60px;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
    list-style-type: none;
    cursor: pointer;
}

.popular-artist .item li img {
    width: 100%;
    height: 100%;
    border-radius: 50%;
}